<style>
h2 {
  font-weight: bolder;
  margin-bottom: 14px;
}
p {
  margin: 7px 0px;
}
span {
  font-size: 100% !important;
}
</style>

<h2>개요</h2>
<div>
  {%- if include.theme -%}
    <p>
      <span class="badge badge-pill text-primary border border-primary mr-2">주제</span>
      {{ include.theme }}
    </p>
  {%- endif -%}
  {%- if include.time -%}
    <p>
      <span class="badge badge-pill text-primary border border-primary mr-2">기간</span>
      {{ include.time }}
    </p>
  {%- endif -%}
  {%- if include.team -%}
    <p>
      <span class="badge badge-pill text-primary border border-primary mr-2">구성</span>
      {{ include.team }}
    </p>
  {%- endif -%}
  {%- if include.progress -%}
    <p>
      <span class="badge badge-pill text-primary border border-primary mr-2">진행</span>
      {{ include.progress }}
    </p>
  {%- endif -%}
  {%- if include.link -%}
    <p>
      <span class="badge badge-pill text-primary border border-primary mr-2">링크</span>
      {{ include.link }}
    </p>
  {%- endif -%}
  <sup>{{ include.explain }}</sup>
</div>