<style>
h1, h2, h3 {
  font-weight: bolder;
  margin-bottom: 14px;
}
h4, h5, h6 {
  font-weight: 600;
}
ul.list-ul {
  counter-reset: line-number;
}
ul.list-ul, li.list-li {
  list-style: none;
  padding: 0;
}
ul.list-ul li.list-li {
  counter-increment: line-number;
  border-left: 1px solid #cfe2ff;
  position: relative;
  padding-left: 25px;
  margin-left: 10px;
}
ul.list-ul li.list-li:last-child {
  border: 0px;
  padding-bottom: 0;
}
ul.list-ul li.list-li:before {
  content: counter(line-number);
  text-align: center;
  width: 26px;
  height: 26px;
  background: white;
  border: 1px solid #0d6efd;
  box-shadow: 3px 3px 0px #cfe2ff;
  border-radius: 50%;
  position: absolute;
  left: -14.5px;
  top: 0px;
}
p {
  margin: 7px 0px;
}
</style>  

<h2 id="{{ include.title | slugify }}">{{ include.title }}</h2>
<ul class="list-ul">
  {% for list in include.source %}
    <li class="list-li">
      <h5>{{ list.name }}</h5>
      <ul class="pl-4 pb-4 m-0">
        {%- for list_content in list.content -%}
        <li>{{ list_content.title }}</li>
          {%- if list_content.list -%}
          <ul class="pl-4 pb-3">
            {% assign items = list_content.list | split: '@@' %}
            {%- for item in items -%}
              <li>{{ item }}</li>
            {%- endfor -%}
          </ul>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </li>
  {% endfor %}
</ul>