<style>
  #title-list {
    /* opacity: 0.5; */
    text-align: right;
    a {
      text-decoration: none;
      font-weight: bold;
    }
  }
  @media only screen and (min-width: 1088px) {
    #title-list {
      /* writing-mode: vertical-rl; */
      /* transform: rotate(180deg); */
      position: fixed;
      top: 200px;
      right: 22px;
    }
  }
</style>

<footer class="mt-auto py-3 text-center">
  <small id="title-list">
    <a href="#개요">개요</a><br>
    <a href="#주요-기능">주요 기능</a><br>
    <a href="#개발-환경">개발 환경</a><br>
    <a href="#나의-역할">나의 역할</a><br>
    <a href="#개발-후기">개발 후기</a><br>
  </small>
</footer>