---
name: 소귀경
tools: [Spring Boot, Vue.js, MySQL]
image: /assets/project/cow_economy.png
description: 경제 기사를 읽으며, 경제 공부를 할 수 있는 모바일 웹사이트
---

<h1><b>소귀경</b></h1>

{% include elements/video.html id="IEKZ6vcX720" %}

{%
  include projects/project-outline.html 
  theme="경제 기사를 읽으며 경제 공부를 할 수 있는 서비스 (소 귀에 경제 읽기)"
  time="2023.02.23 ~ 2023.04.07 (7주)"
  team="5인 팀'난쥉이조' (Fullstack 5명)" 
  progress="삼성청년SW아카데미 SSAFY 2학기 특화 프로젝트 [빅데이터 분산]" 
  code="<a href='https://github.com/Jeeyoun-S/Cow-Economy' target='_blank'>Github 바로가기</a>"
  explain="*삼성청년SW아카데미의 보안 정책 상, 특별한 사유가 있을 때만 코드가 공개 상태로 변경됩니다."
%}

{% 
  include projects/project-list.html title="주요 기능"
  source=site.data.cow_economy.function 
%}

{% 
  include projects/project-skill.html
  backend="IntelliJ@@Java 11@@Spring Boot 2.7.9@@Spring Data JPA@@Gradle 7.6.1@@Postman"
  frontend="Vue 2.6.14@@Vuex 3.6.2@@Vue Router 3.5.1@@Vuetify 2.6.14"
  database="MySQL 8.0.21@@Hadoop@@PySpark@@Python3"
%}

{% 
  include projects/project-architecture.html
  image="/assets/architecture/cow_economy.png"
%}

{%
  include projects/project-list.html 
  title="나의 역할" 
  source=site.data.cow_economy.role
%}

{% 
  include projects/project-list.html 
  title="개발 후기"
  source=site.data.cow_economy.review
%} 

{% include projects/project-footer.html %}
