<h1>About Me</h1>

<h2>Programming Skills</h2>
<div class="row">
{% include about/skills.html title="Backend" source=site.data.backend %}
{% include about/skills.html title="Frontend" source=site.data.frontend %}
{% include about/skills.html title="Etc" source=site.data.etc %}
</div>

<h2>Education</h2>
<div class="row">
{% include about/education.html %}
</div>

<h2>Certificate & Awards</h2>
<div class="row">
{% include about/certificate-awards.html %}
</div>

<h2>Activities</h2>
<div class="row">
{% include about/activity.html %}
</div>