---
---

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import "portfolYOU";

h1 {
  font-family: 'NanumSquareNeoHeavy';
}
h2 {
  font-family: 'NanumSquareNeoExtraBold';
}
h3 {
  font-family: 'NanumSquareNeoBold';
}
h4 {
  font-family: 'NanumSquareNeoBold';
}
h5 {
  font-family: 'NanumSquareNeo';
}
h6, .badge, .alert *, .btn, .post-metadata *, .navbar *:not(i), .list-li h5, .list-li::before {
  font-family: 'NanumSquareNeo';
}
* {
  font-family: "Pretendard Variable";
}

.markdown-body {
  h2 {
    font-size: 1.9rem;
  }
  h3 {
    font-size: 1.6rem;
    margin-top: 12px;
  }
  h4 {
    font-size: 1.3rem;
    margin-top: 10px;
  }
  ul, ol {
    padding-left: 30px;
  }
  li {
    padding: 1px 0px;
  }
  mark {
    padding: 0px !important;
    background-color: #fff7c9;
  }
}


pre.highlight {
  margin: 5px 0px;

  span {
    font-family: "JetBrains Mono", 'NanumSquareNeo';
    font-weight: 600;
  }
}
code {
  font-family: "JetBrains Mono", 'NanumSquareNeo';
  font-weight: 600;
}

#markdown-toc {
  background-color: $primary-bg;
  margin: 0px 0px 15px 0px;
  padding: 20px 10px 15px 45px;
  border-radius: 15px;
  color: $primary;
  list-style-type: decimal;

  li li {
    list-style-type: disc;
  }
  ol {
    margin: 5px 0px;
    padding-left: 30px;
  }
  li::marker {
    font-weight: 800;
  }
}

[data-theme="dark"] #markdown-toc {
  background-color: #313131;
}