---
layout: default
title: About
permalink: /about/
weight: 0
---

<style>
span {
  font-size: 90% !important;
}
#title-list {
  /* opacity: 0.5; */
  text-align: right;
  a {
    text-decoration: none;
    font-weight: bold;
  }
}
@media only screen and (min-width: 1088px) {
  #title-list {
    /* writing-mode: vertical-rl; */
    /* transform: rotate(180deg); */
    position: fixed;
    top: 200px;
    right: 22px;
  }
}
</style>

<div class="col-lg-10 mx-auto mt-5">
  <div class="markdown-body">
    <h1><b>About Me</b></h1>
    <p>
      안녕하세요. 웹 개발자로 성장하고 싶은 <b>서지윤</b>입니다.<br>
      기록하고 정리하는 것을 좋아하고, 항상 메모하는 습관을 만들고 있습니다. 공부한 내용을 많은 사람과 공유하며 배우고 싶습니다.
    </p>
    <p class="mb-2">
      <span class="badge badge-pill text-primary border border-primary mr-2">Email</span>
      dreaming990124@gmail.com
    </p>
    <p class="mb-2">
      <span class="badge badge-pill text-primary border border-primary mr-2">Github</span>
      <a href="https://github.com/Jeeyoun-S">github.com/Jeeyoun-S</a>
    </p>
    <p class="mb-2">
      <span class="badge badge-pill text-primary border border-primary mr-2">Tistory</span>
      <a href="https://p-lay-ground.tistory.com/">p-lay-ground.tistory.com</a>
    </p>

    <h2 id="programming-skills">Programming Skills</h2>
    <div class="row">
      {% include about/skills.html title="Backend" source=site.data.backend %}
      {% include about/skills.html title="Frontend" source=site.data.frontend %}
      {% include about/skills.html title="Etc" source=site.data.etc %}
    </div>

    <h2 id="education">Education</h2>
    <div class="row">
    {% include about/education.html %}
    </div>

    <h2 id="projects">Projects</h2>
  </div>

  <div class="row">
  {% include projects/index.html %}
  </div>

  <div class="markdown-body">
    <h2 id="certificate-and-awards">Certificate & Awards</h2>
    <div class="row">
    {% include about/certificate-awards.html %}
    </div>

    <h2 id="activities">Activities</h2>
    <div class="row">
    {% include about/activity.html %}
    </div>
    
    <footer class="mt-auto py-3 text-center">
      <small id="title-list">
        <a href="#programming-skills">Programming Skills</a><br>
        <a href="#education">Education</a><br>
        <a href="#projects">Projects</a><br>
        <a href="#certificate-and-awards">Certificate & Awards</a><br>
        <a href="#activities">Activities</a>
      </small>
    </footer>
  </div>
</div>
