<div class="col-lg">

  <div class="mt-3 mb-3">
    <h4 style="margin-bottom: 0px;">{{ include.title }}</h4>
  </div>

  {% for skill in include.source %}
  
  <div class="alert alert-{{ skill.color | default: "primary" }}" role="alert">
    <div class="d-flex flex-row justify-content-between align-items-center">
      <p class="mb-1">
        <b>{{ skill.name }}</b>
      </p>
      <p class="mb-1 text-muted">{{ skill.percentage }}%</p>
    </div>
    <div class="mb-2 mt-2 progress bg-themed" style="height: 8px;">
      <div class="progress-bar bg-{{ skill.color | default: "primary" }} wow animated slideInLeft"
        data-wow-delay="{{ forloop.index | divided_by: 20.0 }}"
        role="progressbar"
        style="width: {{ skill.percentage }}%;"
        aria-valuenow="{{ skill.percentage }}"
        aria-valuemin="0"
        aria-valuemax="100">
      </div>
    </div>
    <div style="font-size: small;">
      {%- assign explains = skill.explain | split: "@@" -%}
      {% for exp in explains %}
        <li>{{ exp }}</li>
      {% endfor %}
      <!-- {{ skill.explain }} -->
    </div>
  </div>

  {% endfor %}

</div>